@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-navyblue: #1D4E89;
  --color-navyblue-light: #2166B8;
  --color-navyblue-dark: #163C6B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
